<!DOCTYPE html>
<html lang="en">
<head th:replace="layouts/layout-head :: common_head(~{::title}, (~{::link} ?: ~{}))">
    <meta charset="UTF-8">
    <title>어드민 회원 관리 페이지</title>

    <link rel="stylesheet" href="/js/plugins/jsgrid/jsgrid.min.css">
    <link rel="stylesheet" href="/js/plugins/jsgrid/jsgrid-theme.min.css">
</head>
<body class="hold-transition sidebar-mini">
<div class="wrapper">
    <header th:replace="layouts/layout-header :: header"></header>
    <aside th:replace="layouts/layout-left-aside :: aside"></aside>

    <!-- Main content -->
    <main th:replace="layouts/layout-main-table :: common_main_table('어드민 회원 관리', (~{::#jsgrid-admin-members} ?: ~{}))"></main>

    <div id="jsgrid-admin-members"></div>

    <aside th:replace="layouts/layout-right-aside :: aside"></aside>
    <footer th:replace="layouts/layout-footer :: footer"></footer>
</div>


<!--/* REQUIRED SCRIPTS */-->
<script th:replace="layouts/layout-scripts :: script">/* 공통 스크립트 삽입부 */</script>

<script src="/js/plugins/jsgrid/jsgrid.min.js"></script>
<script>
    $(function () {
        $("#jsgrid-admin-members").jsGrid({
            height: "100%",
            width: "100%",

            inserting: true,
            editing: true,
            sorting: true,
            paging: false,

            data: [
                {
                    "userId": "uno",
                    "nickname": "Uno",
                    "email": "uno@email.com",
                    "memo": "test memo.",
                    "roleTypes": "ADMIN",
                    "createdBy": "Uno",
                    "createdAt": "2022-01-01 00:00:00"
                }
            ],

            fields: [
                { name: "userId", title: "유저 ID", type: "text", width: 70 },
                { name: "nickname", title: "닉네임", type: "text", width: 60 },
                { name: "email", title: "이메일", type: "text", width: 120 },
                { name: "memo", title: "메모", type: "text", width: 150 },
                { name: "roleTypes", title: "권한", type: "select", items: [{"name": "ADMIN", "description": "관리자"}], valueField: "name", textField: "description", width: 100 },
                { name: "createdBy", title: "작성자", type: "text", width: 60 },
                { name: "createdAt", title: "작성일시", type: "text", width: 100 },
                { type: "control" }
            ]
        });
    });
</script>
</body>
</html>